<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
      <div class="button-helper">
        <h1>Message Detail</h1>
        <a href="/" class="btn nav-btn">Back</a>
      </div>
      <div class="messageContainer">
        <ul>
          <li>
            <div class="message-content">
              <div>
                <strong><%= message.username %></strong>: <%= message.text %>
              </div>
              <small>About <%= moment(message.added).fromNow() %></small>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
