<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
      <h1>Messages</h1>
      <ul>
        <% messages.forEach((message) => { %>
        <div class="messageContainer">
          <li>
            <strong><%= message.user %></strong>: <%= message.text %>
            <small>(<%= message.added.toLocaleString() %>)</small>
          </li>
        </div>
        <% }) %>
      </ul>
      <a href="/new">Add a new message</a>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
