<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
      <div class="button-helper">
        <h1>Messages</h1>
        <a href="/new" class="btn nav-btn">Add a new message</a>
      </div>
      <div class="messageContainer">
        <ul>
          <% messages.forEach((message, index) => { %>
          <li>
            <div class="message-content">
              <div>
                <strong><%= message.user %>:</strong> <%= message.text %>
              </div>
              <div>
                <small>About <%= moment(message.added).fromNow() %></small>
                <a href="/details/<%= index %>" class="btn">Open</a>
              </div>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
